.App {
  text-align: center;
}

button{
  margin: 0 auto;
  padding: 10px;
  height: 90px;
  width: 180px;
  border-radius: 5px;
  background-color: brown;
  font-size: 25px;
  font-style: oblique;
}

